@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap");

.testa {
  font-family: "Noto Sans KR", sans-serif;
}

/* head 센터 및 넓이 지정 */

#sh_hd_wrapper {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  border-bottom: 1px solid #e1e1e1;
  zoom: 1;
}
.sub #sh_hd_wrapper {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
#sh_hd_wrapper:after {
  display: block;
  visibility: hidden;
  clear: both;
  content: "";
}

#topmenu_wrapper {
  position: relative;
  z-index: 99;
  width: 1200px;
  height: 95px;
  margin: 0 auto;
}

/* Logo */
#top_logo {
  position: absolute;
  width: 40px;
  height: 20px;
  top: 25px;
  left: 0;
  z-index: 3;
}

#top_logo2 {
  position: absolute;
  width: 40px;
  height: 20px;
  top: 0px;
  left: 160px;
  z-index: 3;
}

/* Top Menu */
#top_nav {
  position: absolute;
  top: 0;
  right: 0;
}
#top_nav li {
  display: block;
  float: left;
  position: relative;
  margin-left: 38px;
  font-size: 16px;
  color: #fff;
  letter-spacing: -0.3px;
  text-align: right;
}
#top_nav li a {
  text-decoration: none;
  display: block;
  line-height: 95px;
  color: #222;
  zoom: 1;
}
#top_nav li a:hover {
  color: #4a9e5c;
}
#top_nav li ul li a:hover {
  color: rgba(255, 255, 255, 0.5);
}

#top_nav ul {
  /* display: none; */
  position: absolute;
  top: 96px;
  left: -17px;
  padding: 10px 0 10px 10px;
  background: rgba(0, 0, 0, 0.6);
}

#top_nav ul li {
  float: none;
  margin-left: 0;
  font-size: 13px;
  text-align: left;
}
#top_nav ul a {
  display: block;
  padding-left: 10px;
  line-height: 24px;
  color: #fff;
  text-transform: uppercase;
  font-family: "notokr-regular";
}

#top_nav ul,
#top_allmenu_show ul {
  width: 140px;
}

.sub #top_nav li a {
  display: block;
  color: #fff;
  zoom: 1;
}
.sub #top_nav li a:hover {
  color: #4a9e5c;
}
.sub #top_nav li ul li a:hover {
  color: rgba(255, 255, 255, 0.5);
}

.testa {
  color: red;
  font-family: "notokr-medium";
}
