.sponContainer {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px 0px;
}

.intro-heading {
  text-align: center;
  margin-bottom: 20px;
}

.intro-heading h1 {
  font-size: 3rem;
  font-weight: bold;
  color: #333;
}

.intro-text {
  line-height: 1.8;
  font-size: 1.1rem;
  color: #666;
  text-align: justify;
  text-justify: inter-word;
}

.fadeIn {
  opacity: 1;
  transition: opacity 3s ease-in-out;
}

.fadeOut {
  opacity: 0;
  transition: opacity 3s ease-in-out;
}

@keyframes fadeIn {
  from {
    left: -100px;
    opacity: 0;
  }
  to {
    left: 400px;
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    left: 400px;
    opacity: 1;
  }
  to {
    left: -100px;
    opacity: 0;
  }
}


.buslabel{
  width: 16px;
  height: 16px;
  border-radius: 8px;
  margin-right: 8px;
  font-size: 13px;
  line-height: 16px;
  border-radius: 50%;
  background : green;
  text-align: center;
  color: aliceblue;
}


.buslabel{
  width: 16px;
  height: 16px;
  border-radius: 8px;
  margin-right: 8px;
  font-size: 13px;
  line-height: 16px;
  border-radius: 50%;
  text-align: center;
  color: aliceblue;
}

.buslabel2{
  width: 50px;
  height: 20px;
  margin-right: 8px;
  font-size: 13px;
  line-height: 19px;
  border-radius: 40%;
  text-align: center;
  color: aliceblue;
}

.leftSide {
  line-height: 17px;
  list-style-type: none;

}

.leftSide li {
  display: inline-block;
  margin-bottom: 10px;
}

.leftSide p {
  display: inline-block;
  margin: 0;
}

.oneSection{
  height: 800px;
  border: 2px solid black;
}