/* shop */

/* shopbar */
.wrap_tab_reviewrank {
  background-color: #fafafa;
  width: 100%;
  height: 85px;
}

.tab_reviewrank {
  width: 100%;
  margin: 0 auto;
  background-color: #fafafa;
  border-bottom: none;
}

.tab_reviewrank li {
  float: left;
  width: 50%;
  text-align: center;
  list-style: none;
}

.link_rank {
  padding: 24px 0 26px;
  font-size: 20px;
  line-height: 29px;
}

.tab_reviewrank .link_rank {
  display: block;
  position: relative;
}

.tab_reviewrank .txt_tab {
  display: inline-block;
  position: relative;
  padding: 0 1px;
  vertical-align: top;
}

.tab_reviewrank .link_rank {
  color: #bbb;
}

.tab_reviewrank li.on .link_rank {
  color: #000;
}
