@font-face {
  font-family: "googleSingleDay";
  src: url(./assets/fonts/Single_Day/SingleDay-Regular.ttf);
}

:root {
  --font-googleGugi: "googleGugi";
  --font-googleSingleDay: "googleSingleDay";
}
